<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-dark">Beverages</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Condiments</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Confections</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Dairy Products</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Grains/Cereals</a></li>   
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="dropdown">
                <div class="dropdown text-end">

                    <button mat-button [matMenuTriggerFor]="menu"><img
                            src="https://avatars.githubusercontent.com/u/38558573?v=4" alt="mdo" width="32" height="32"
                            class="rounded-circle"></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="cart">
                            <mat-icon>shopping_cart</mat-icon>
                            <span>Sepetim</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                            <span>Profil</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>notifications_off</mat-icon>
                            <span></span>
                        </button>

                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</header>